<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备状态测试页面</title>
</head>
<body>
    
        <div>
            <h2>UpdateTime</h2>
            <span>更新时间</span>
        </div>
    
        <div>
            <h2>ProcessTag</h2>
            <span>过程标记</span>
        </div>
    
        <div>
            <h2>MainLoad</h2>
            <span>主起荷重</span>
        </div>
    
        <div>
            <h2>SecondaryLoad</h2>
            <span>副起荷重</span>
        </div>
    
        <div>
            <h2>HookLoad</h2>
            <span>吊钩荷重</span>
        </div>
    
        <div>
            <h2>HookHeight</h2>
            <span>吊钩高度</span>
        </div>
    
        <div>
            <h2>RunTrip</h2>
            <span>运行行程</span>
        </div>
    
        <div>
            <h2>DeflAngle</h2>
            <span>设备偏斜角度</span>
        </div>
    
        <div>
            <h2>SafeDistance</h2>
            <span>碰撞安全距离</span>
        </div>
    
        <div>
            <h2>Speed</h2>
            <span>风速</span>
        </div>
    
        <div>
            <h2>Cmd</h2>
            <span>操作指令</span>
        </div>
    
        <div>
            <h2>DeviceID</h2>
            <span>设备ID</span>
        </div>
    
</body>
</html>