<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备管理测试页面</title>
</head>
<body>
    
        <div>
            <h2>Name</h2>
            <span></span>
        </div>
    
        <div>
            <h2>ManagerNum</h2>
            <span></span>
        </div>
    
        <div>
            <h2>Sex</h2>
            <span></span>
        </div>
    
        <div>
            <h2>Age</h2>
            <span></span>
        </div>
    
        <div>
            <h2>Description</h2>
            <span></span>
        </div>
    
        <div>
            <h2>CreateUID</h2>
            <span></span>
        </div>
    
        <div>
            <h2>Phone</h2>
            <span></span>
        </div>
    
</body>
</html>