<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备测试页面</title>
</head>
<body>
    
        <div>
            <h2>EModel</h2>
            <span>设备型号</span>
        </div>
    
        <div>
            <h2>RatedLoad</h2>
            <span>额定载荷</span>
        </div>
    
        <div>
            <h2>RatedPower</h2>
            <span>额定功率</span>
        </div>
    
        <div>
            <h2>MaxLoad</h2>
            <span>最大载荷</span>
        </div>
    
        <div>
            <h2>MaxPower</h2>
            <span>最大功率</span>
        </div>
    
        <div>
            <h2>MaxTorque</h2>
            <span>最大扭矩</span>
        </div>
    
        <div>
            <h2>FactoryTime</h2>
            <span>出厂时间</span>
        </div>
    
        <div>
            <h2>IP</h2>
            <span>IP地址</span>
        </div>
    
        <div>
            <h2>Port</h2>
            <span>端口</span>
        </div>
    
        <div>
            <h2>MonitorID</h2>
            <span>监测装置ID</span>
        </div>
    
        <div>
            <h2>Name</h2>
            <span>设备名字</span>
        </div>
    
        <div>
            <h2>Refresh</h2>
            <span>设备刷新时间</span>
        </div>
    
        <div>
            <h2>GateWayID</h2>
            <span>网关ID</span>
        </div>
    
        <div>
            <h2>CardNum</h2>
            <span>设备卡号</span>
        </div>
    
        <div>
            <h2>CreateUserID</h2>
            <span>创建改设备的用户ID</span>
        </div>
    
        <div>
            <h2>Longitude</h2>
            <span>经度</span>
        </div>
    
        <div>
            <h2>Latitude</h2>
            <span>纬度</span>
        </div>
    
        <div>
            <h2>config</h2>
            <span>配置文件路径</span>
        </div>
    
        <div>
            <h2>isDelete</h2>
            <span>是否删除</span>
        </div>
    
</body>
</html>